
.panelbtns {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}

#titleUserForm {
    font-size: 25px;
}

#divSelRole {
    width: 40%;
    margin-left: 10px;
    border-color: darkgray;
}